<div class="gvis-wrapper" id="project-name-interactive-container">
	<div id="project-name-loading" style="color: black; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 200; background: white; text-align: center; padding-top: 50%;">
		<p><span class="sr-only">Loading...</span></p>
		<img src="@@assetPath@@/imgs/loading.gif" alt="" style="position: absolute; top: 50%; left: 50%; margin-top: -17px; margin-left: -30px;" />
	</div>
	<div id="project-name-content">
		

		
	</div>
</div>